{% extends 'base.html.twig' %}
{% block body %}

<h1>Connexion</h1>

<form action="{{path('security_login')}}" method="post">
        <div class="form-group">
            <input placeholder="Adresse" required name="_username" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit class=btn btn-sucess">Connexion</button>  
        </div>
<h4> Vous n'êtes pas inscrit ? Inscrivez-vous !</h4>
  <a href="{{path('security_registration')}}" class="btn btn-primary">
            Je m'inscris</a>
            <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
{% endblock %}
  